/*

Copyright Jude Wilson 2020
Macinstyle is owned published and controlled by Jude Wilson
mrwinson@pm.me
github repo: https: //github.com/mr-winson/macinstyle
github account: https: //github.com/mr-winson

Please see license here: https: //github.com/mr-winson/macinstyle/blob/master/LICENSE

*/

/* general design */
:root {
    --primary-color: rgb(77, 116, 243);
    --secondary-color: rgb(229, 229, 229);
    --light-color: rgb(246, 241, 241);
}

* {
    font-family: 'San Francisco',
        Helvetica,
        Arial,
        san-serif;
}

.hidden {
    display: none;
}

/* sliders */
.slider {
    height: 8px;
    border-radius: 5px;
    background: var(--secondary-color);
    outline: none;
}

.slider::-ms-fill-lower {
    background-color: var(--primary-color);
}

.slider::-ms-fill-upper {
    background-color: var(--secondary-color);
}

.slider::-moz-range-progress {
    background-color: var(--primary-color);
}

.slider::-moz-range-track {
    background-color: var(--secondary-color);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px var(--secondary-color) solid;
    background: var(--light-color);
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px var(--secondary-color) solid;
    background: var(--light-color);
    cursor: pointer;
}

/* containers */
.container,
.container-sm,
.container-md,
.container-lg {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 575px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (max-width: 575px) {

    .container,
    .container-sm {
        min-width: auto;
    }
}

@media (min-width: 765px) {

    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 990px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

/* buttons */
.btn {
    border-radius: 3px;
    border: none;
}

.button-primary {
    border-radius: 3px;
    border: none;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 5px;
}

.button-secondary {
    border-radius: 3px;
    border: 1px rgb(227, 227, 227) solid;
    background-color: var(--secondary-color);
    color: rgb(0, 0, 0);
    padding: 5px;
}

/* modals */
.modal-hidden {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal button {
    flex-basis: fill;
    overflow-wrap: normal;
    margin-bottom: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    flex-direction: column;
    width: 50%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 15px;
    outline: 0;
}

.modal-title {
    padding-top: 15px;
    margin-bottom: 10px;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-weight: bold;
}

.modal-image img {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
    width: 40%;
}

.modal-body {
    margin-bottom: 10px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.modal-footer {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.modal-title:nth-child(1) {
    text-align: center;
    font-weight: bold;
}