/*

Copyright Jude Wilson 2020
Macinstyle is owned published and controlled by Jude Wilson
mrwinson@pm.me
github repo: https: //github.com/mr-winson/macinstyle
github account: https: //github.com/mr-winson

*/

/* general design */
:root {
    --primary-color: rgb(77, 116, 243);
    --secondary-color: rgb(255, 255, 255);
}

* {
    font-family: 'San Francisco',
        Helvetica,
        Arial,
        san-serif;
}

.hidden {
    display: none;
}

/* buttons */
.btn {
    border-radius: 3px;
    border: none;
}

.button-primary {
    border-radius: 3px;
    border: none;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 5px;
}

.button-secondary {
    border-radius: 3px;
    border: 1px rgb(227, 227, 227) solid;
    background-color: var(--secondary-color);
    color: rgb(0, 0, 0);
    padding: 5px;
}

/* modals */
.modal-hidden {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal button {
    flex-basis: fill;
    overflow-wrap: normal;
    margin-bottom: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    flex-direction: column;
    width: 50%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 15px;
    outline: 0;
}

.modal-title {
    padding-top: 15px;
    margin-bottom: 10px;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-weight: bold;
}

.modal-image img {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
    width: 40%;
}

.modal-body {
    margin-bottom: 10px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.modal-footer {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.modal-title:nth-child(1) {
    text-align: center;
    font-weight: bold;
}